<div id="Tweet-summary" style="float: left;
     left: 14px;top: 3px;
     position: relative;
     width: 100%;">
  <div id="title">Users</div>
  <% if @students.present? %>
    <table border="1" width="100%">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>User Name</th>
        <th>Status</th>
        <th>Role</th>
        <th></th>
      </tr>
      <% for school in @students %>
        <tr style="text-align: center;">
          <td><%= school.first_name %></td>
          <td><%= school.last_name %></td>
          <% if school.reset_password_token == nil %>
            <td>
              <% if school.role == 'student' %>
                <%= link_to school.email, school_student_path(@school, school) %>
              <% else %>
                <%= link_to school.email, school_teacher_path(@school, school) %>
              <% end %>
            </td>
          <% else %>
            <td><%= school.email %></td>
          <% end %>
          <% if school.username.present? %>
            <td><%= school.username.split("@").last %></td>
          <% else %>
            <td></td>
          <% end %>
          <td>
            <% if school.reset_password_token == nil %>
              Joined
            <% else %>
              Invitation Sent
            <% end %>
          </td>
          <td><%= school.role %></td>
          <td>
            <% if school.reset_password_token == nil %>
              <%= link_to "View Posts", posts_school_student_path(@school, school)%> |
            <% end %>
            <% if school.role == 'student' %>
              <%= link_to "Delete", student_path(school), :remote => true, :method => :delete, :confirm => "Are You Sure.." %>
            <% else %>
              <%= link_to "Delete", teacher_path(school), :remote => true, :method => :delete, :confirm => "Are You Sure.." %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <span style="color: red;font-size: 15px;left: 166px;position: relative;top: 17px;">No Users.</span>
  <% end %>
</div><br />
